.myProfile {
    display: flex;
}

.myProfileTitle{
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.card-container{
  display:flex;
  flex-wrap: wrap;
 
}
.myProfileCard {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 50%;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 40px;
    position:relative;
    transition: transform 0.2s ease-in-out;
}

.myProfileCard:hover {
  transform: translateY(-5px); /* Add a slight lift on hover for a realistic touch */
}

.card-icon {
      position: absolute;
      top: 10px; /* Adjust the top position as needed */
      left: 10px; /* Adjust the right position as needed */
      font-size: 24px; /* Adjust the icon size as needed */
      transition: transform 0.2s ease-in-out;
   } 
    
   .card-value{
    font-size: 50px;
   
   }
   .myProfileCard:hover .card-icon {
    transform: scale(1.2); 

   }
  /* Add additional styles as needed */
  
  .myProfileButton {
    width: 300px;
    padding: 10px;

    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: var(--font-size-20px);
  }
  
  .myProfileButton:hover {
    background-color: var(--blue);
  }

  .submit-button{
    align-items: center;
    justify-content: center;
  }

  /* MyProfile.css */
.myProfileButtonContainer {
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  margin-top: 20px; /* Adjust margin as needed */
}
