.myHome {
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: calc(100% - 200px); /* Adjust width to account for sidebar */
    padding: 20px;
    margin-left: 200px; /* Set margin to push the content away from the sidebar */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto; /* Add vertical scroll to main content if needed */
}

.myHomeTitle{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .toggle-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .bulb-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 20px;
  }


  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.row1, .row2, row3{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

.toggle-button{
    width: 150px;
    height: 40px;
}

.row2{
    display: row;
    justify-content: space-around;
}


.bulb-image{
    width: 50%;
    object-fit: contain;
}

.image, .image1, .image2 {
  flex: 1;
  text-align: center;
  padding: 10px;
}